@use '../abstracts' as *;

$SM_SIZE: 100px;

.button {
  width: 250px;
  height: 40px;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  background-color: $primary-color;
  color: white;
  cursor: pointer;

  &.sm {
    width: $SM_SIZE;
  }

  &.isOutline {
    background-color: $bg-color;
    color: $primary-color;
    border: 1px solid $primary-color;
  }

  &:hover {
    background-color: $secondary-color02;
  }
}
