.carousel-container {
  display: flex;

  .carousel-item {
    flex-shrink: 0;
    width: 330px;
    height: 150px;
    border-radius: 10px;

    &:first-child {
      margin-left: 5px;
    }

    &:last-child {
      margin-left: 5px;
    }

    img {
      border-radius: 10px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel-div {
  overflow: hidden;
}

.circle-container {
  height: 2rem;
  display: flex;
  gap: 5px;
  margin-top: 1.5rem;
  justify-content: center;

  .circle-item {
    width: 5px;
    height: 5px;
    border-radius: 10px;
  }
}
