@use '../abstracts' as *;

.footer-button {
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100vw;
  height: 60px;
  background-color: $primary-color;
  font-weight: 600;
  color: $bg-color;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}
