@use '../abstracts' as *;

.footer-button {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 60px;
  background-color: $primary-color;
  font-weight: 700;
  color: $bg-color;
  font-size: 16px;
  border: none;
}
