@use '../abstracts' as *;

.input-box {
  border: 1px solid $color-gray04;
  width: 150px;
  height: 40px;
  padding: 0px 10px;
  border-radius: 10px;
  transition: all 0.3s;

  &::placeholder {
    color: $icon-color;
  }

  &:focus {
    outline: none;
    border: 1.5px solid $primary-color;
  }
}

.input-title {
  display: flex;
  justify-content: space-between;
  color: $color-gray01;
  font-weight: 700;
  font-size: 14px;

  .is-required {
    color: $primary-color;
    font-weight: 700;
  }

  .vaild-text {
    font-size: 10px;
    color: $warnig-color;
  }
}
