@use '../abstracts' as *;

.loading-container {
  width: 100vw;
  height: 100vh;
  @include center;
}

.loadingio-spinner-spin-oqcu5ubrpug {
  width: 101px;
  height: 101px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-l3jplsqolir {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-l3jplsqolir div {
  box-sizing: content-box;
}

.ldio-l3jplsqolir div > div {
  position: absolute;
  width: 10.1px;
  height: 10.1px;
  border-radius: 50%;
  background: #2a60ff;
  animation: loading 1.5873015873015872s linear infinite;
}

.ldio-l3jplsqolir div:nth-child(1) > div {
  left: 64.5px;
  top: 45.5px;
  animation-delay: -1.4285714285714286s;
}

.ldio-l3jplsqolir > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 69.55px 50.55px;
}

.ldio-l3jplsqolir div:nth-child(2) > div {
  left: 60.5px;
  top: 56.5px;
  animation-delay: -1.2698412698412698s;
}

.ldio-l3jplsqolir > div:nth-child(2) {
  transform: rotate(36deg);
  transform-origin: 65.55px 61.55px;
}

.ldio-l3jplsqolir div:nth-child(3) > div {
  left: 51.5px;
  top: 63.5px;
  animation-delay: -1.1111111111111112s;
}

.ldio-l3jplsqolir > div:nth-child(3) {
  transform: rotate(72deg);
  transform-origin: 56.55px 68.55px;
}

.ldio-l3jplsqolir div:nth-child(4) > div {
  left: 39.5px;
  top: 63.5px;
  animation-delay: -0.9523809523809524s;
}

.ldio-l3jplsqolir > div:nth-child(4) {
  transform: rotate(108deg);
  transform-origin: 44.55px 68.55px;
}

.ldio-l3jplsqolir div:nth-child(5) > div {
  left: 29.5px;
  top: 56.5px;
  animation-delay: -0.7936507936507937s;
}

.ldio-l3jplsqolir > div:nth-child(5) {
  transform: rotate(144deg);
  transform-origin: 34.55px 61.55px;
}

.ldio-l3jplsqolir div:nth-child(6) > div {
  left: 26.5px;
  top: 45.5px;
  animation-delay: -0.6349206349206349s;
}

.ldio-l3jplsqolir > div:nth-child(6) {
  transform: rotate(180deg);
  transform-origin: 31.549999999999997px 50.55px;
}

.ldio-l3jplsqolir div:nth-child(7) > div {
  left: 29.5px;
  top: 34.5px;
  animation-delay: -0.4761904761904762s;
}

.ldio-l3jplsqolir > div:nth-child(7) {
  transform: rotate(216deg);
  transform-origin: 34.55px 39.55px;
}

.ldio-l3jplsqolir div:nth-child(8) > div {
  left: 39.5px;
  top: 27.5px;
  animation-delay: -0.31746031746031744s;
}

.ldio-l3jplsqolir > div:nth-child(8) {
  transform: rotate(252deg);
  transform-origin: 44.55px 32.55px;
}

.ldio-l3jplsqolir div:nth-child(9) > div {
  left: 51.5px;
  top: 27.5px;
  animation-delay: -0.15873015873015872s;
}

.ldio-l3jplsqolir > div:nth-child(9) {
  transform: rotate(288deg);
  transform-origin: 56.55px 32.55px;
}

.ldio-l3jplsqolir div:nth-child(10) > div {
  left: 60.5px;
  top: 34.5px;
  animation-delay: 0s;
}

.ldio-l3jplsqolir > div:nth-child(10) {
  transform: rotate(324deg);
  transform-origin: 65.55px 39.55px;
}

/* generated by https://loading.io/ */
