@use '../abstracts' as *;

.modal-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.33);
  backdrop-filter: blur(3px);
}

.modal-container {
  height: 100%;
  margin: 0 auto;
  @include center;
}

.modal-box {
  @include center;
  flex-direction: column;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  min-width: 250px;
  min-height: 150px;
  max-width: 300px;

  .modal-title {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
  }

  .modal-content {
    font-size: 1.5rem;
    text-align: center;
  }

  h2 {
    color: $primary-color;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  strong {
    font-weight: 600;
  }
}
