@use '../abstracts' as *;

.main-qna-card {
  border-radius: 10px;
  min-width: 130px;
  min-height: 120px;
  max-width: 130px;
  max-height: 120px;
  margin: 15px 0px;
  background-color: $bg-color;
  padding: 10px 10px 0px 10px;
  margin-right: 15px;

  filter: drop-shadow(0px 0px 10px rgba(169, 169, 169, 0.2));

  .title {
    @include ellipsis-text;
    @include font-styles(16px, 800, $color-gray01);
    margin-bottom: 5px;
  }

  .body {
    @include font-styles(14px, 400, $color-gray01);
    @include multiline-ellipsis-text;
    margin-top: 10px;
  }

  .bottom-section {
    position: fixed;
    bottom: 0px;
    width: 110px;
    max-width: 120px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    @include ellipsis-text();

    .answer-text {
      @include font-styles(10px, 800, $color-gray01);

      &.solved {
        @include font-styles(10px, 800, $primary-color);
      }
    }

    .writer-text {
      @include ellipsis-text();
      @include font-styles(10px, 300, $color-gray02);
      max-width: 60px;
    }
  }
}
