@use '../abstracts' as *;

.main-qna-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  min-width: 200px;
  max-width: 200px;
  min-height: 150px;
  max-height: 150px;
  background-color: $bg-color;
  padding: 1.4rem;
  gap: 0.8rem;

  filter: drop-shadow(0px 0px 5px rgba(169, 169, 169, 0.2));

  .card-title {
    @include ellipsis-text;
    @include font-styles(16px, 700, $color-gray01);
    padding-top: 3px;
    letter-spacing: -0.5px;
  }

  .card-content {
    @include font-styles(13px, 400, $color-gray02);
    @include multiline-ellipsis-text;
    line-height: 2rem;
    flex: 2;
    letter-spacing: -0.3px;
  }

  .bottom-section {
    display: flex;
    justify-content: space-between;
    @include ellipsis-text();

    .answer-text {
      @include font-styles(12px, 600, $color-gray01);

      &.solved {
        @include font-styles(12px, 600, $primary-color);
      }
    }

    .writer-text {
      @include ellipsis-text();
      @include font-styles(12px, 400, $color-gray03);
      max-width: 60px;
      margin-left: 8px;
    }
  }
}
