$primary-color: #2a60ff;
$secondary-color: #2d8dff;
$warnig-color: #df4e3a;
$bg-color: #ffffff;
$icon-color: #bcbcbc;
$color-gray01: #494949;
$color-gray02: #7b7b7b;
$color-gray03: #d2d2d2;
$color-gray04: #e5e5e5;
$color-gray05: #efefef;
