$primary-color: #2a60ff;
$secondary-color01: #2d8dff;
$secondary-color02: #1347e1;
$warnig-color: #df4e3a;
$correct-color: #50a727;
$bg-color: #ffffff;
$icon-color: #bcbcbc;
$color-gray01: #494949;
$color-gray02: #636363;
$color-gray03: #b5b5b5;
$color-gray04: #c8c8c8;
$color-gray05: #efefef;
$shadow-color: rgba(169, 169, 169, 0.2);
