@use '../../abstracts' as *;

header {
  grid-area: header;
  width: 100vw;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-gray04;
  background-color: $bg-color;
  position: fixed;
  top: 0;
  z-index: 100;
}
