@use '../../abstracts' as *;

header {
  grid-area: header;
  width: 100vw;
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-gray04;
  background-color: $bg-color;
  position: fixed;
  top: 0;
  z-index: 100;
  font-size: 1.8rem;
  text-align: center;

  .prev {
    cursor: pointer;
  }

  .custom-header-left,
  .custom-header-right {
    flex: 1;
  }

  .custom-header-right {
  }

  .logo-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
    margin-left: 10px;
  }

  .custom-header-center {
    flex: 4;
    font-size: 1.4rem;
    font-weight: 600;
  }
}

.bell {
  color: $icon-color;
  margin-right: 15px;
  font-size: 2rem;
}

.custom-header-right.bell {
  color: $icon-color;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.submit-btn {
  border: none;
  background: none;
  color: $primary-color;
  font-weight: 600;
}
