@use '../abstracts' as *;

.list-container {
  margin: 0 auto;
  @include header-gap;
  @include footer-gap;
  display: flex;
  flex-direction: column;
  width: 90vw;

  .list-title-section {
    margin-bottom: 15px;
  }

  .list-search-section {
    margin-bottom: 20px;
  }

  .list-title {
    @include font-styles(18px, 700, $color-gray01);
    padding-left: 10px;
    margin-top: 30px;
  }

  .list-sub-title {
    @include font-styles(13px, 300, $color-gray01);
    padding-left: 10px;
    margin-top: 8px;
    margin-bottom: 10px;

    .communinty-title {
      @include font-styles(13px, 400, $color-gray01);

      span {
        @include font-styles(13px, 700, $color-gray01);
      }
    }

    p {
      @include font-styles(10px, 400, $icon-color);
      margin-top: 5px;
    }

    span {
      @include font-styles(13px, 700, $color-gray01);
    }
  }

  .card-list {
    &.community {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 20px;
      padding: 0px 5px;
    }
  }
}

.filter-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  .filter-item {
    background-color: #ffffff;
    padding: 3px 12px;
    border-radius: 10px;
    border: 1px solid $icon-color;
    color: $icon-color;

    &.select-filter {
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}

.qna-card {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: $bg-color;
  padding: 15px;
  filter: drop-shadow(0px 0px 5px $shadow-color);

  .title {
    @include ellipsis-text;
    @include font-styles(14px, 700, $color-gray01);
    line-height: 2rem;
    width: auto;
  }

  .body {
    @include font-styles(14px, 300, $color-gray01);
    @include multiline-ellipsis-text;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.8rem;
  }

  .bottom-section {
    display: flex;
    justify-content: space-between;
  }

  .answer-text {
    @include font-styles(12px, 600, $color-gray01);

    &.solved {
      @include font-styles(12px, 600, $primary-color);
    }
  }

  .writer-text {
    @include font-styles(12px, 300, $color-gray01);
  }

  .title-category {
    color: $primary-color;
  }
}

.list-end-data {
  margin-top: 30px;
  @include font-styles(17px, 700, $primary-color);
  text-align: center;

  &.community {
    margin-top: 50px;
  }
}
