@use '../abstracts' as *;

.change-password-container {
  @include header-gap;
  max-width: 500px;
  width: 100%;
  padding: 2rem;

  .title-message {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    width: 100%;
    margin-bottom: 10px;
  }

  .warning-message {
    font-size: 1.1rem;
  }

  span:last-child {
    margin-top: 2rem;
  }
}
