@use '../abstracts' as *;

.main {
  padding: 10px;
  @include header-gap;
}

.main-qna-container {
  display: flex;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
