@use '../abstracts' as *;

@mixin qna-image-box($background-color) {
  background-color: $background-color;
  width: 65px;
  height: 68px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.qna-newpost-container {
  padding: 15px 30px 30px 30px;
  position: relative;
  width: 100vw;
}

.category-container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 9px;
  column-gap: 9px;
  margin-bottom: 30px;
}

.category-item {
  @include center();
  width: 94px;
  height: 30px;
  border: 1px solid $color-gray04;
  color: $icon-color;
  border-radius: 10px;

  &.select {
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

.image-container {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.image-item {
  @include qna-image-box($color-gray04);
  object-fit: cover;
  min-width: 65px;
  height: 68px;
}

.image-item-add-button {
  min-width: 65px;
  height: 68px;
}

.image-item-add-button {
  @include qna-image-box($bg-color);
  @include center();
}

.image-add-item {
  display: none;
}

.image-add-item-plus {
  @include font-styles(25px, 600, $color-gray02);
  margin-bottom: 3px;
  text-align: center;
}

.image-add-item-text {
  @include font-styles(8px, 700, $color-gray02);
}

.text-body {
  margin-top: 10px;
  padding: 15px 0px 0px 15px;
  resize: none;
  width: 300px;
  height: 248px;
  border-radius: 10px;
  border-color: $color-gray04;
  transition: all 0.3s;

  &::placeholder {
    color: $icon-color;
  }

  &:focus {
    outline: none;
    border: 1.5px solid $primary-color;
  }
}

.remove-image {
  position: relative;
  z-index: 10000;
  top: -70px;
  left: 40px;
  color: white;
}
