@use '../abstracts' as *;

.password-container {
  @include header-gap;
  @include center;
  flex-direction: column;
  gap: 2rem;
  min-width: 70%;
  max-width: 300px;

  .input-title {
    margin-bottom: 1rem;
  }

  .message {
    margin-top: 2rem;
    line-height: 1.8rem;
  }

  strong {
    font-weight: 600;
  }

  div {
    width: 100%;
  }

  input {
    width: 100%;
  }
}
