@use '../abstracts' as *;

.qna-container {
  margin: 0 auto;
  @include header-gap;
  @include footer-gap;
  display: flex;
  flex-direction: column;
  width: 90vw;

  .qna-title-section {
    margin-bottom: 15px;
  }

  .qna-title {
    @include font-styles(18px, 700, $color-gray01);
  }

  .qna-sub-title {
    @include font-styles(13px, 300, $color-gray01);
    padding-left: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    span {
      @include font-styles(13px, 700, $color-gray01);
    }
  }
}

.qna-card {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
  background-color: $bg-color;
  padding: 15px;
  filter: drop-shadow(0px 0px 5px $shadow-color);

  .title {
    @include ellipsis-text;
    @include font-styles(14px, 700, $color-gray01);
    line-height: 2rem;
    width: auto;
  }

  .body {
    @include font-styles(14px, 300, $color-gray01);
    @include multiline-ellipsis-text;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.8rem;
  }

  .bottom-section {
    display: flex;
    justify-content: space-between;
  }

  .answer-text {
    @include font-styles(12px, 800, $color-gray01);

    &.solved {
      @include font-styles(12px, 800, $primary-color);
    }
  }

  .writer-text {
    @include font-styles(12px, 300, $color-gray01);
  }

  .title-category {
    color: $primary-color;
  }
}
