@use '../abstracts' as *;

.qna-detail-container {
  @include footer-gap;
  padding: 0px 35px;
  width: 100vw;

  .title {
    font-size: 14px;
    font-weight: 700;
  }

  .title-category {
    color: $primary-color;
    font-weight: 600;
  }

  .title-text {
    margin-top: 30px;
    color: $color-gray01;
    line-height: 21px;
  }

  .post-info {
    margin: 40px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
  }

  .post-date {
    font-size: 10px;
    font-weight: 400;
    color: $color-gray02;
  }

  .post-user {
    font-size: 12px;
    font-weight: 700;
    color: $color-gray04;
  }
}

.comment-zero {
  @include center;
  font-size: 15px;
  font-weight: 800;
}

.qna-divide-line {
  @include dividing-line(290px, $color-gray04);
}

.body-text {
  color: #000000;
  font-weight: 300;
  margin: 20px 0px;
  font-size: 14px;
  line-height: 23px;
}

.img-box {
  display: flex;
  overflow: scroll;
  min-width: 320px;
  gap: 15px;
  margin-bottom: 30px;
  justify-content: center;

  &::-webkit-scrollbar {
    display: none;
  }

  .qna-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
  }
}

.tag-container {
  margin-top: 15px;
  min-width: 320px;
  width: 100%;
  display: flex;
  overflow: scroll;
  gap: 10px;
  margin-bottom: 40px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tag-item {
  border-radius: 10px;
  white-space: nowrap;
  border: 1px solid $icon-color;
  padding: 5px 15px;
}

.comment-title-conainer {
  margin-top: 30px;

  .comment-title {
    font-size: 20px;
    font-weight: 700;

    span {
      color: $primary-color;
    }
  }

  .comment-sub-title {
    line-height: 30px;
    color: $icon-color;
    font-size: 12px;
  }
}

.comment-card {
  box-shadow: 0px 0px 10px $shadow-color;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 20px;

  &.isExport {
    border: 1px solid $primary-color;
  }

  .comment-card-user-info {
    .user {
      color: $color-gray01;
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .user-export {
      display: flex;
      align-items: center;
      gap: 5px;
      color: $primary-color;
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .user-roll-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .user-roll {
        color: $icon-color;
        font-size: 12px;
      }
    }
  }

  .comment-button {
    display: flex;
    justify-content: flex-end;
  }
}

.comment-card-body {
  color: #000000;
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
}
