.input-box {
  border: 1px solid #e5e5e5;
  width: 150px;
  height: 40px;
  padding: 0px 5px;
  border-radius: 10px;

  &:focus {
    outline: none;
    border: 1.5px solid #2a60ff;
  }
}

.input-title {
  display: flex;
  justify-content: space-between;
  color: #494949;
  font-weight: 700;
  font-size: 14px;

  .is-require {
    color: #2a60ff;
    font-weight: 700;
  }

  .vaild-text {
    font-size: 10px;
    color: #df4e3a;
  }
}
