@use 'abstracts' as *;
@use 'base';
@use 'components';
@use 'layout';
@use 'pages';

:root {
  font-display: swap;
  font-size: 62.5%;
  color: $color-gray01;
  cursor: context-menu;
}

* {
  @include font-setting;
}

body {
  margin: 0;

  #root {
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
  }
}
